pandas==1.5.3
numpy==1.26.4
scipy==1.12.0
pyyaml==6.0.2
playwright
pytz
requests
openpyxl
sportsdataverse==0.0.75
pytest
polars
scikit-learn==1.5.0
lightgbm==4.6.0
xgboost==2.0.3
pyarrow==14.0.2
nfl_data_py==0.3.3